body{
	background-color: #252527;
}
a{
	text-decoration: none;
}
.container{
	max-width: 85em;
	margin: 0 auto;
}
nav{
	text-align: right;
}
nav ul li{
	display: inline-block;
	margin-top: 1em;
}
nav ul li a{
	font-size: 1.1em;
	font-family: arial;
	color: #fff5f4;
	padding: 1.1em 0.78em;	
	margin-right: 1.2em;
	font-weight: 600;
}
nav ul li a:hover,nav ul li.active a{
	background-color: #f44336;
}
.s-icon{
	display: none;
}
.back-white{
	margin-top: 1.4em;
	background-color: white;
}
.worker{
	padding: 0 3%;
}
/* ---------------------------------------------------------------------------- */
/* ----------------------------------Carousel---------------------------------- */
/* ---------------------------------------------------------------------------- */
.owl-controls .owl-buttons div {
	position: absolute;
	color:#777;
	opacity: 0.7;
}
.owl-carousel:hover .owl-buttons div {
	color:#fff;
}
.owl-controls .owl-buttons .owl-prev {
	left: 10px;
	top: 50%;
}
.owl-controls .owl-buttons .owl-next {
	right: 10px;
	top: 50%;
}
.owl-carousel{
	margin-bottom: 20px;
}
.owl-carousel .owl-buttons div i {
	font-size: 40px;
	margin: -20px 0 0;
}
.owl-wrapper .item img{
        width: 100%;
}

.img {
	width: 25%;
	float: left;
}
.img img{
	width: 100%;
}
.logo{
	padding-top: 1.2em;
	float: left;
}
.search{
	border: 1px solid black;
	margin-right: 1em;
	float: right;
	margin-top: 2em;
	margin-bottom: 1em;	
}
.search input{
	padding: 0.5em 0.89em;
	font-size: 1em;
}

.work{
	text-align: center;
}
.work h1{
	font-family: arial;
	font-size: 2em;
	font-weight: 600;
	color: #333333;
	line-height: 2.2em;
}
.work p{
	font-family: arial;
	font-size: 1.2em;
	line-height: 1.4em;
	color: #929292;
	padding-bottom: 3em;
}
.image{
	width: 23%;
	float: left;
	margin-right: 2%;
}
.image img{
	width: 100%;
}
.image h1{
	text-align: center;
	padding: 0.78em 0;
	font-size: 1.5em;
	font-family: arial;
}
.image p{
	text-align: center;
	font-size: 1.1em;
	font-family: arial; 
	color: #b0b0b0;
	padding-bottom: 2.3em;
}
.image a{
	margin: 0 auto;
	text-align: center;
	display:block;
	border: 1px solid #f44336;
	width: 7.25em;
	line-height:3;
	background-color: #f44336;
	border-radius: 1.8em;
	margin-bottom: 3em;
	font-family: arial;
	color: white;	 
	height: 3em;
} 
.blog-1{
	width: 64%;
	margin-right: 4%;
	float: left;	
	margin-bottom: 3.8em;
}
.blog-1 h1{
	font-size: 2.2em;
	font-family: arial;
	font-weight: 600;
	color: #333333;
	margin-bottom: 1em;
}
.blog-1 h2{
	font-size: 1.5em;
	font-weight: 600;
	color: #333333;
	margin-bottom: 0.98em;
	font-family: arial;

}
.blog-1 h3{
	font-family: arial;
	font-weight: bold;
	color: #333333;
	margin-bottom: 2.6em;
}
.blog-1 a{
	text-align: center;
	display:block;
	border: 1px solid #f44336;
	width: 7.25em;
	line-height:3;
	background-color: #f44336;
	border-radius: 1.8em;
	margin-bottom: 2.3em;
	font-family: arial;
	color: white;	 
	height: 3em;
}
.blog-1 span{
	color: red;
}
.blog-1 p{
	font-size: 0.90em;
	line-height: 1.9em;
	font-family: arial;
	margin-bottom: 2.7em;
	color: #929292;
}
.bdr{
	border-bottom: 1px solid #dbd8d8;
}
.blog-2{
	width: 30%;
	margin-right: 2%;
	float: left;
}
.blog-2 h1{
	font-family: arial;
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 1em;
}
.blog-2 p{
	margin-bottom:  2em;
	font-family: arial;
	line-height: 1.7em;
	font-size: 1em;
	color: #929292;
}
.blog-2 p.spc{
	margin-bottom: 8em;
}
footer{
	background-color: #252527;
}
.icons {
	margin-top: 2em;
	display: block;
	text-align: center;
}
.icons p{
	line-height: 2em;
	color: white;
	font-family: arial;
	font-size: 1.4em;
	float: left;
}
.icons a i{
	margin-top: 0.68em;
	border: 1px solid #f44336;
	width: 2.3em;
	height: 2.3em;
	line-height: 2.3em;
	border-radius: 1.3em;
	margin-right: 0.57em;
	background-color: #f44336;
	color: white;
	transition: all 4s ease-in-out;
}
.icons a i:hover{
	background-color: blue;
	border: 1px solid blue;
}
.icons span{
	float: right;
	margin-top: 1.3em;
	font-family: arial;
	color: white;
	font-style: italic;
	margin-right:4em;
}
@media only screen and (max-width:768px){
	.container{
		max-width: 48em;
	} 
	.logo{
		width: 100%;
		text-align: center;
	}
	footer{
		background-color: yellow;
	}
	.img{
		width: 50%;
	}
	
	.work h1{
		font-size: 1.1em;		
	}
	.work p{
		font-size: 0.86em;
	}
	.image{
		width: 100%;
	}
	.blog-1{
		width: 100%;
		text-align: center;
	}
	.blog-1 h1{
		font-size: 1.7em;
		line-height: 1.5em;
	}
	.blog-1 a{
		margin: 1.3em auto;
	}
	.blog-2{
		width: 100%;
		text-align: center;
	}
	.blog-2 p{
		font-size: 0.80em;
		margin-bottom: 1.3em;
		line-height: 1.7em;
	}
	.blog-2 p.spc{
		margin-bottom: 4em;
	}
	.icons p,.icons i,.icons span{
		width: 100%;
	}
	.icons span{
		text-align: center;
		margin: 0.66em auto;
	}
	.search{
		width: 100%;
		margin: 1em auto;
		border: none;
		text-align: center;
	}
	.s-icon{
		position: absolute;
		color: black;
		right: 20px;
		display: block;
	}
	nav ul{
		position: absolute;
		right: 1.25em;
		padding: 1.25em;
		width: 50%;
		background-color: black;
		display: none;
		top: 70px;
	}
	nav ul li{
		width: 100%;
		text-align: center;
		margin: 1.25em;
	}
	nav ul li:hover{
		transition: all .9s ease-in-out;
	}
}